/* HTML */
html {
  margin: 0 auto;
  font-size: 14px;
  font-family: sans-serif;
}

/* Header */
header {
  display: flex;
  height: 64px;
  z-index: 100;
  margin-right: 24px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  flex: auto;
}

/* Navigation */
.mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  border-right: 16px solid aquamarine;
  height: 64px;
}

@@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-content: flex-end;
  }
}

/* Body */

.main {
  width: 100%;
  line-height: 1.6;
}

/* Banner – Section 1 */
.banner {
  display: flex;
  background-color: lightgrey;
  align-items: center;
  align-content: center;
  line-height: 1.4;
}

.banner img {
  width: 60%;
  margin: 32px 40px 32px 24px;
}

.banner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.button {
  background-color: #313335;
  color: white;
  text-align: center;
  margin: 0 auto;
  flex-direction: row;
}

.button h3 {
  font-size: 1.25rem;
  padding: 8px 0;
}


/* Section 2 */

.stories {
  background-color: #f4f4f4;
  display: flex;
}

.col-1 {
  margin: 32px 40px 32px 24px;
}

.col-1 .col-text {
  border-bottom: none;
}

.col-1 img {
  width: 60%;
  margin-bottom: 34px;
}

.announcements {
  border-left: 1px solid lightgrey;
  float: right;
}

.col-2-text {
  display: inline-flex;
}

.col-2 img {
  width: 35%;
}

.col-text {
  border-bottom: 1px solid lightgrey;
}

.img-mobile {
  display: none;
}

/* Section 3 */

.curriculum {
  background-color: #b5b5b5;
  padding: 32px 0 32px 0;
}

.contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.curriculum h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 32px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  width: 25%;
  margin: 14px;
}

.item img {
  width: 100%;
}

.item h2 {
  font-weight: bold;
  font-size: 1.7rem;
}

.item h3 {
  margin: 8px 0 8px 0;
  font-size: 1.3rem;
}

.courses {
  margin: 16px auto 16px 24px;
}

/* Thesis – Section 4 */

.thesis {
  background-color: #f4f4f4;
  padding-bottom: 24px;
}

.thesis h1 {
  text-align: center;
  font-size: 3rem;
  padding: 32px 0 32px 0;
}

.container {
  display: flex;
}

.thesis-story-column {
  width: 423px;
}

.box {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
  height: 169px;
}

.box img {
  max-height: 40%;
}

.video-column {
  margin: 0 32px 24px 16px;
  width: 60%;
}

video {
  width: 100%;
  padding-bottom: 24px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-top: 1px solid #b5b5b5;
  padding: 14px;
}

.terms {
  display: flex;
  margin-right: 24px;
}

.terms p {
  padding-right: 10px;
}
